.flash-message {
    font-weight: 600;
    color: #FFF;
    padding: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    @include tablet {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.flash-message-success {
    background-color: $green-color;
    border-color: $green-dark-color;
}

.flash-message-notice {
    background-color: $blue-color;
    border-color: $blue-dark-color;
}

.flash-message-error {
    background-color: $red-color;
    border-color: $red-dark-color;
}
