.flash-message {
    font-weight: 600;
    color: #FFF;
    padding: 20px;

    @include tablet {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.flash-message-success {
    background-color: $brand-success;
}

.flash-message-notice {
    background-color: $brand-info;
}

.flash-message-error {
    background-color: $brand-danger;
}
