.navmenu-fixed-left {
	top: 60px;
}

.navmenu-nav {
	margin-top: $navmenu-margin-vertical;

	> li {
		&.active {
			> a {
				border-left-color: $primary-color;
			}
		}

		> a {
			border-left: 3px solid transparent;

			> i {
				margin-right: 5px;
			}
		}
	}
}

.dropdown-menu {
	> li {
		> a {
			padding: 5px 25px 5px 35px;
		}
	}
}
